<div class="card">
    <div class="img-box">
        <a href="{{id}}">
            <img class="card-img-top" src="{{image_url}}" alt="{{name}}" />
        </a>
    </div>
    <div class="beer-info-container">
        <h3>{{name}}</h3>
        <p>{{tagline}}</p>
        <p>{{description}}</p>

    </div>

</div>